<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
    <div class="p-4">
        <div
            class="flex flex-col gap-4">
            <!--CONTENT 1-->
            <div class="flex-auto bg-gray-600 rounded-2xl">
                <div class="flex flex-row justify-center my-4 text-white">Salem, DE</div>
                <div class="flex flex-row m-12">
                    <div class="basis-1/4 self-center text-white"></div>
                    <div class="basis-1/4 self-center">
                        <iframe src="static/images/day-cloud-rain-lightning-icon.svg" class="w-24 h-24"></iframe>
                    </div>
                    <div class="basis-1/4 self-center text-white">17 °C</div>
                    <div class="basis-1/4 self-center text-white">Niederschlag: 90%</div>
                </div>
                <div class="flex flex-row border-t-2 border-complementary1 pt-4">
                    <div class="basis-1/5">
                        <div class="flex flex-col">
                            <div class="basis-1/3 self-center text-white">Fr</div>
                            <div class="basis-1/3 self-center">
                                <iframe src="static/images/day-sunny-icon.svg" class="w-8 h-8"></iframe>
                            </div>
                            <div class="basis-1/3 self-center mb-4 text-white">14 °C / 16 °C</div>
                        </div>
                    </div>
                    <div class="basis-1/5">
                        <div class="flex flex-col">
                            <div class="basis-1/3 self-center text-white">Sa</div>
                            <div class="basis-1/3 self-center">
                                <iframe src="static/images/day-cloudy-icon.svg" class="w-8 h-8"></iframe>
                            </div>
                            <div class="basis-1/3 self-center mb-4 text-white">10 °C / 12 °C</div>
                        </div>
                    </div>
                    <div class="basis-1/5">
                        <div class="flex flex-col">
                            <div class="basis-1/3 self-center text-white">So</div>
                            <div class="basis-1/3 self-center">
                                <iframe src="static/images/day-cloud-lightning-icon.svg" class="w-8 h-8"></iframe>
                            </div>
                            <div class="basis-1/3 self-center mb-4 text-white">18 °C / 21 °C</div>
                        </div>
                    </div>
                    <div class="basis-1/5">
                        <div class="flex flex-col">
                            <div class="basis-1/3 self-center text-white">Mo</div>
                            <div class="basis-1/3 self-center">
                                <iframe src="static/images/day-cloud-rain-lightning-icon.svg" class="w-8 h-8"></iframe>
                            </div>
                            <div class="basis-1/3 self-center mb-4 text-white">19 °C / 20 °C</div>
                        </div>
                    </div>
                    <div class="basis-1/5">
                        <div class="flex flex-col">
                            <div class="basis-1/3 self-center text-white">Di</div>
                            <div class="basis-1/3 self-center">
                                <iframe src="static/images/day-cloudy-icon.svg" class="w-8 h-8"></iframe>
                            </div>
                            <div class="basis-1/3 self-center mb-4 text-white">12 °C / 14 °C</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="flex flex-row gap-4 mt-4">
            <!--CONTENT 2-->
            <div class="flex-auto flex-col basis-8/12 bg-gray-400 rounded-2xl">
                <div class="my-4 flex flex-row justify-center text-white">
                    <div class="self-center text-white bg-gray-400">
                        Test
                    </div>
                </div>
            </div>

            <div class="flex-auto flex-col basis-4/12 bg-gray-400 rounded-2xl">
                <div class="my-4 flex flex-row justify-center text-white">
                    <div class="self-center text-white bg-gray-400">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
