<!-- SIDEBAR -->
<div class="hidden w-64 flex-col bg-gray-800 md:flex">
    <div class="flex h-16 items-center justify-center bg-gray-900">
        <span class="font-bold uppercase text-white">Hub</span>
    </div>
    <div class="flex flex-1 flex-col overflow-y-auto">
        <nav class="flex-1 bg-gray-800 px-2 py-4">
            <a href="#" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                <iframe src="static/images/dashboard-icon.svg" class="mr-2 w-6 h-6"></iframe>
                Dashboard
            </a>
            <a href="#" class="mt-2 flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                <iframe src="static/images/calendar-icon.svg" class="mr-2 w-6 h-6"></iframe>
                Calendar
            </a>
            <a href="#" class="mt-2 flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                <iframe src="static/images/storage-icon.svg" class="mr-2 w-6 h-6"></iframe>
                Storage
            </a>
            <a href="#" class="mt-2 flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                <iframe src="static/images/tools-icon.svg" class="mr-2 w-6 h-6"></iframe>
                Tools
            </a>
        </nav>
    </div>
    <hr class="ml-2 mr-2 h-px border-0 bg-gray-200 dark:bg-gray-700"/>
    <div class="flex h-16 items-center justify-center">
        <a href="#" class="mt-2 flex items-center px-4 py-2 text-gray-100">
            <iframe src="static/images/settings-icon.svg" class="mr-2 w-6 h-6"></iframe>
        </a>
    </div>
</div>
